@mixin button($alt: false) {
  @include a-link($link: $c-grey, $hover: $c-gold, $deco--hover: "none");
  background-color: $c-grey--light;
  padding: ($spacing--s * 2) ($spacing--m * 2);
  display: inline-block;
  border: 1px solid $c-grey--light;
  font-size: $fs--xs;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $c-white;
    border-color: $c-gold;
  }
  @if $alt {
    @include a-link($link: $c-white, $hover: $c-gold, $deco--hover: "none");
    background: $c-gold;
    border-color: $c-gold;
  }
}

.button {
  @include button();
  &--alt {
    @include button($alt: true);
  }
}

a.button {
  // needed to override base theme CSS
  // stylelint-disable property-no-vendor-prefix
  -moz-appearance: none;
  -webkit-appearance: none;
  // stylelint-enable property-no-vendor-prefix
}

input[type="submit"],
.form-submit {
  @include button();
  border: 0;
}
