@import url('http://fonts.googleapis.com/css?family=Nunito:300');
@import url('http://fonts.googleapis.com/css?family=Raleway:300,400');

$fw--300: 300; // light*
$fw--400: 400; // normal/regular/book/roman*

// Nunito
// Available weights:
// 300
$ff--nunito: 'Nunito', sans-serif;

// Raleway
// Available weights:
// 300
// 400
$ff--raleway: 'Raleway', sans-serif;

$ff--heading: $ff--raleway !default;
$ff--body: $ff--nunito !default;

// font Sizes
$fs--xxl: 43px;
$fs--xl: 32px;
$fs--l: 23px;
$fs--m: 18px;
$fs--s: 14px;
$fs--xs: 12px;
$fs--xxs: 10px;
